@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body.dark {
  font-family: 'Nunito', sans-serif;
  background-color: #1e2227;
  font-size: 20px;
  color: #fff;
}

    body.dark hr {
      border: 1px solid #808080;
    }

body {
    font-family: 'Nunito', sans-serif;
    background-color: #fdfdfd;
    font-size: 20px;
  }
  
  h1, h2, h3 {
    color: #247BA0;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
  }
  
  h1 {
    font-family: 'Signika', serif;
    margin-top: 1em;
    /* text-transform: uppercase; */
    text-align: center;
    font-weight: 800;
  }
  
  h1.b {
      font-size: 2.66em;
  }

  a {
    color: #247BA0;
  }
  
  a:hover {
    color: #247BA0;
  }

  .now{
    font-size: 12px;
  }

  .dark {
    font-size: 20px;
    font-weight: 400;
  }